<div class="login-block">
    <h1>Login</h1>
    <input type="text" placeholder="Username" id="input-username" />
    <input type="password" placeholder="Password" id="input-password" type="password" />
    <a class="btn btn-primary" href="#/login">Log in</a>
    <a class="btn btn-success" href="#/register">Register</a>
</div>