<div id="login-wrapper"  >
        <div class="login-block">
            <h1>Login</h1>
            <input type="text" placeholder="Username" id="input-username" />
            <input type="password" placeholder="Password" id="input-password" type="password" />
            <a id="log-in-btn" class="btn btn-primary" href="#/login">Log in</a>
            <a id="register-btn" class="btn btn-success" href="#/register">Register</a>
    </div>
</div>